@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNovaRegular.eot");
  src: url("../fonts/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaRegular.woff") format("woff"), url("../fonts/ProximaNovaRegular.ttf") format("truetype"), url("../fonts/ProximaNovaRegular.svg#webfont") format("svg");
}
body .container .items.active, body .container .items:hover, body .nav-tagi-carousel .items.active, body .nav-tagi-carousel .items:hover {
  background: #009EFF;
}
body .container .items.active p, body .container .items:hover p, body .nav-tagi-carousel .items.active p, body .nav-tagi-carousel .items:hover p {
  color: #FFFFFF;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  min-height: 100vw;
}
body a {
  text-decoration: none;
}
body .nav-tagi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding: 0 12%;
}
body .nav-tagi .right {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 13px;
}
body .nav-tagi .right img {
  cursor: pointer;
}
body .nav-tagi .right p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 119.3%;
  color: #323941;
  cursor: pointer;
  transition: 0.75s;
}
body .nav-tagi .right a {
  color: #009EFF;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 119.3%;
}
body .nav-tagi-carousel {
  padding: 0 12%;
  background: #323941;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
}
body .nav-tagi-carousel .items {
  position: relative;
  transition: 0.75s;
  padding-top: 25px;
  cursor: pointer;
}
body .nav-tagi-carousel .items .item1 {
  display: grid;
  grid-auto-rows: minmax(50px, auto);
}
body .nav-tagi-carousel .items .item1 img {
  display: block;
  margin: auto;
}
body .nav-tagi-carousel .items .item1 p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  align-content: end;
  display: flex;
  justify-content: center;
  transition: 0.75s;
  color: #FFFFFF;
  opacity: 0.4;
}
body .nav-tagi-carousel .items:hover .item1 p {
  color: #ffffff;
  opacity: 1;
}
body .nav-tagi-carousel .items.active .item1 p {
  color: #ffffff;
  opacity: 1;
}
body .container {
  position: relative;
  background: #323941;
  display: none;
  padding: 2%;
  /* border-top: 10px solid #f00; */
}
body .container .items {
  width: 30vw;
  height: auto;
  position: relative;
  transition: 0.75s;
  padding-top: 25px;
  cursor: pointer;
}
body .container .items .item1 {
  display: grid;
  grid-auto-rows: minmax(50px, auto);
}
body .container .items .item1 img {
  display: block;
  margin: auto;
}
body .container .items .item1 p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  align-content: end;
  display: flex;
  justify-content: center;
  transition: 0.75s;
  color: #FFFFFF;
  opacity: 0.4;
}
body .container .items:hover .item1 p {
  color: #ffffff;
  opacity: 1;
}
body .container .items.active .item1 p {
  color: #ffffff;
  opacity: 1;
}
@media (max-width: 1024px) {
  body .nav-tagi-carousel .items {
    display: none;
  }
  body .container {
    display: block;
  }
}
@media (max-width: 767px) {
  body .nav-tagi {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
