
//card hover bulganda yoki active

%card-hover{
    background: #009EFF;

    p{
        color: #FFFFFF;
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
    }
}