@import './font.scss';
@import './root.scss';
@import './component.scss';
@import './extends.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ffffff;
    min-height: 100vw;
    

    a{
        text-decoration: none;
    }





    //nav-tagi
    .nav-tagi{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;
        padding: $margin;


        .right{
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            column-gap: 13px;

            img{
                cursor: pointer;
            }

            p{
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 119.3%;
                color: #323941;
                cursor: pointer;
                transition: $transition;
            }
            a{
                color: #009EFF;
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 119.3%;
            }
        }
    }



    //nav-tagidagi card va carousel

    .nav-tagi-carousel{
        padding: $margin;
        background: #323941;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: minmax(100px, auto);


        .items{
            position: relative;
            transition: $transition;
            padding-top: 25px;
            cursor: pointer;


            .item1{
                display: grid;
                grid-auto-rows: minmax(50px, auto);
                    
                img{
                    display: block;
                    margin: auto;
                }

                p{
                    font-family: 'Proxima Nova';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    align-content: end;
                    display: flex;
                    justify-content: center;
                    transition: $transition;
                    color: #FFFFFF;
                    opacity: 0.4;
                }
            }
        }
        .items:hover{
            @extend %card-hover;
        }
        .items:hover .item1 p{
            color: #ffffff;
            opacity: 1;
        }
        .items.active .item1 p{
            color: #ffffff;
            opacity: 1;
        }
        .items.active{
            @extend %card-hover;
        }
    }

    
        //carousel small ekranda

    .container {
        position: relative;
        background: #323941;
        display: none;
        padding: 2%;
        /* border-top: 10px solid #f00; */



        
        .items{
            width: 23vw;
            height: auto;
            position: relative;
            transition: $transition;
            padding-top: 25px;
            cursor: pointer;


            .item1{
                display: grid;
                grid-auto-rows: minmax(50px, auto);
                    
                img{
                    display: block;
                    margin: auto;
                }

                p{
                    font-family: 'Proxima Nova';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    align-content: end;
                    display: flex;
                    justify-content: center;
                    transition: $transition;
                    color: #FFFFFF;
                    opacity: 0.4;
                }
            }
        }
        .items:hover{
            @extend %card-hover;
        }
        .items:hover .item1 p{
            color: #ffffff;
            opacity: 1;
        }
        .items.active .item1 p{
            color: #ffffff;
            opacity: 1;
        }
        .items.active{
            @extend %card-hover;
        }
    }
    


    //blue

    .blue{
        background: #009EFF;
        height: 48px;
        display: grid;
        grid-template-columns: 100vw;
        align-items: center;
        justify-items: center;

        span{
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }


    //main

    .main{
        margin: 14px 0;
        padding: $margin;
        display: grid;
        grid-template-columns: 40vw 40vw;
        align-items: start;
        grid-auto-rows: min-content;
        grid-column-gap: 8%;
        
        //H1 grid qismi
        .top{
            grid-column-start: 1;
            grid-column-end: 2;

            .btn{
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 119.3%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #6ACD68;
                border: 2px solid #6ACD68;
                width: 90px;
                height: 30px;
                transition: .75s;
            }
            .btn:hover{
                background-color: #6ACD68;
                color: #FFFFFF;
            }

            h1{

                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 700;
                font-size: 80px;
                line-height: 87.3%;
                text-transform: uppercase;
                color: #323941;
                border: 3px solid #FFFFFF;
                transition: $transition;
            }
        }

        //payment qismi
        .bottom{
            border: 2px solid #99999941;
            padding: 23px 20px;

            .discr{
                color: #323941;
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 8px;
                
                span{
                    font-weight: 900;
                }
            }
            .btn-group{
                display: flex;
                justify-content: center;
                margin: auto -5px;
                margin-bottom: 20px;

                button{
                    flex-basis: 32%;
                    margin: 0 5px;
                    border: 1px solid #999999;
                    color: #323941;
                    font-family: 'Proxima Nova';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 119.3%;
                    outline: 0;
                    background: none;
                    height: 36px;
                    align-items: center;
                    cursor: pointer;
                    transition: $transition;
                }
                button:hover{
                    background: #99999935;
                }
            }

            //urta qismi payment ning (laptop ekranda)

            .davomi{
                display: flex;
                justify-content: space-between;
                align-items: center;

                p{
                    color: #323941;
                    font-family: 'Proxima Nova';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 35px;
                    line-height: 25px;
                    margin-top: -15px;

                    span{
                        text-decoration-line: line-through;
                        font-family: 'Proxima Nova';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 22px;
                    }
                }

                a{
                    color: #009EFF;
                    font-family: 'Proxima Nova';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                }
            }

            //tulash kerak bulgan button qismi (end)

            .end{
                display: flex;
                justify-content: space-between;
                margin-top: 20px;

                a{
                    border: 2px solid #009EFF;
                    font-family: 'Proxima Nova';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    color: #fff;
                    background: #009EFF;
                    flex-basis: 48%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 48px;
                    transition: $transition;
                }
                a:hover{
                    background: none;
                    color: #009EFF;
                }
            }
        }

        //carousel qismi
        .right{
            height: 100px;
            grid-column-start: 2;
            grid-row-start: 1;

            .carousel-card{
            }


            .gift-card-sm{
                border: 5px solid #009EFF;
                width: 100%;
                padding: 20px;
                margin-bottom: 15px;
                display: none;

                .content{
                    display: flex;
                    justify-content: space-between;
                    

                    .left1{
                        flex-basis: 58%;

                        h2{
                            text-transform: uppercase;
                            font-family: 'Proxima Nova';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 24px;
                        }

                        p{
                            letter-spacing: 0.02em;
                            font-family: 'Proxima Nova';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 14px;
                            line-height: 17px;
                            color: #323941;
                        }
                    }

                    .right1{
                        display: flex;
                        justify-content: end;
                        flex-basis: 35%;
                        padding: 0;

                        img{
                            width: 70%;
                        }
                    }
                }
            
            }
        }
    }






    //responsive

    @media(max-width:$responsive_xl){
        .nav-tagi-carousel{
            .items{
               display: none;
            }
        }


        .blue{
            display: none;
        }


        .container{
            display: block;
        }


        .main{
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            grid-auto-rows: min-content;
                
            .right{
                height: auto;
                grid-column-start: 1;
                grid-row-start: 2;
                width: 100%;
                display: flex;
                justify-content: center;
            }
            .bottom{
                grid-column-start: 1;
                grid-row-start: 3;
            }
    
        }

        .main{
            .top{
                display: flex;
                flex-direction: column;
                align-items: center;


                h1{
                    font-family: 'Proxima Nova';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 57px;
                    line-height: 92.8%;
                    text-align: center;
                    margin: 0 28px;
                    padding-top: 18px;
                }
            }

            .right{
                display: flex;
                flex-direction: column;
                justify-content: center;


                .carousel-img{
                    display: flex;
                    justify-content: center;
                    width: 50%;
                    margin-top: 25px;
                    margin-bottom: 25px;
                }
            }
        }
    }

    @media(max-width: $responsive_md){
        .nav-tagi{
            display: none;
        }

        .container{
            
            .items{
                width: 25vw;
            }
        }

        .main{
            .top{
                display: flex;
                flex-direction: column;
                align-items: center;


                h1{
                    font-family: 'Proxima Nova';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 37px;
                    line-height: 92.8%;
                    text-align: center;
                    margin: 0 28px;
                }
            }
        }
    }


    @media(max-width: $responsive_sm){
        
        .container{
            
            .items{
                width: 30vw;
            }
        }
        
        .main{

            .bottom{

                .discr{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                }

                .davomi{
                    display: flex;
                    justify-content: center;

                    a{
                        display: none;
                    }

                    img{
                        display: none;
                    }
                }
            }

            .right{

                .gift-card-sm{
                    display: block;
                }
            }
        }
    }
}