@import './font.scss';
@import './root.scss';
@import './component.scss';
@import './extends.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ffffff;
    min-height: 100vw;
    

    a{
        text-decoration: none;
    }





    //nav-tagi
    .nav-tagi{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;
        padding: $margin;


        .right{
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            column-gap: 13px;

            img{
                cursor: pointer;
            }

            p{
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 119.3%;
                color: #323941;
                cursor: pointer;
                transition: $transition;
            }
            a{
                color: #009EFF;
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 119.3%;
            }
        }
    }



    //nav-tagidagi card va carousel

    .nav-tagi-carousel{
        padding: $margin;
        background: #323941;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: minmax(100px, auto);


        .items{
            position: relative;
            transition: $transition;
            padding-top: 25px;
            cursor: pointer;


            .item1{
                display: grid;
                grid-auto-rows: minmax(50px, auto);
                    
                img{
                    display: block;
                    margin: auto;
                }

                p{
                    font-family: 'Proxima Nova';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    align-content: end;
                    display: flex;
                    justify-content: center;
                    transition: $transition;
                    color: #FFFFFF;
                    opacity: 0.4;
                }
            }
        }
        .items:hover{
            @extend %card-hover;
        }
        .items:hover .item1 p{
            color: #ffffff;
            opacity: 1;
        }
        .items.active .item1 p{
            color: #ffffff;
            opacity: 1;
        }
        .items.active{
            @extend %card-hover;
        }
    }

    
        //carousel small ekranda

    .container {
        position: relative;
        background: #323941;
        display: none;
        padding: 2%;
        /* border-top: 10px solid #f00; */



        
        .items{
            width: 30vw;
            height: auto;
            position: relative;
            transition: $transition;
            padding-top: 25px;
            cursor: pointer;


            .item1{
                display: grid;
                grid-auto-rows: minmax(50px, auto);
                    
                img{
                    display: block;
                    margin: auto;
                }

                p{
                    font-family: 'Proxima Nova';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    align-content: end;
                    display: flex;
                    justify-content: center;
                    transition: $transition;
                    color: #FFFFFF;
                    opacity: 0.4;
                }
            }
        }
        .items:hover{
            @extend %card-hover;
        }
        .items:hover .item1 p{
            color: #ffffff;
            opacity: 1;
        }
        .items.active .item1 p{
            color: #ffffff;
            opacity: 1;
        }
        .items.active{
            @extend %card-hover;
        }
    }
    


    //blue

    .blue{
        background: #009EFF;
        height: 48px;
        display: grid;
        grid-template-columns: 100vw;
        align-items: center;
        justify-items: center;

        span{
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }


    //main

    .main{
        margin: 14px 0;
        padding: $margin;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .left{

            .top{


                .btn{
                    font-family: 'Proxima Nova';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 119.3%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #6ACD68;
                    border: 2px solid #6ACD68;
                    width: 90px;
                    height: 30px;
                    transition: .75s;
                }
                .btn:hover{
                    background-color: #6ACD68;
                    color: #FFFFFF;
                }

                h1{

                    font-family: 'Proxima Nova';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 80px;
                    line-height: 87.3%;
                    text-transform: uppercase;
                    color: #323941;
                    border: 3px solid #FFFFFF;
                }
            }
        }
    }






    //responsive

    @media(max-width:$responsive_xl){
        .nav-tagi-carousel .items{
            display: none;
        }
        .container{
            display: block;
        }
    }

    @media(max-width: $responsive_md){
        .nav-tagi{
            display: none;
        }
    }


    @media(max-width: $responsive_sm){

    }
}